body{
    padding: 0;
    margin: 0;
}

/* Heading Part Start */
header {
    background-image: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0.9)) ,url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-section {
    padding: 122px 129.5px 137px;
}

.header-section h1{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.header-section p{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5%;
}

.donate-btn {
    font-weight: 600;
    padding: 14px 23px;
    font-size: 18px;
    background-color: #EF233C;
    color: white;
    border: 2px solid #EF233C;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
/* Heading Part End */

/* Banner part start */
.banner-section {
    padding: 105px 105px 44px 105px;
}

.banner-one, .banner-two {
    display: flex;
}

.donation{
    padding: 25px;
}

.donation h2{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.donation p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5%;
    text-align: justify;
}

.donation img{
    width: 543px;
}
/* Banner part end */

/* Helping part start */
.helping-heading{
    text-align: center;
}

.helping-heading h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.helping-heading p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 3%;
}

.helping-top, .helping-bottom {
    display: flex;
    padding: 0 155px;
}

.help{
    display: flex;
    background: #FEF4F5;
    margin: 14px 20px;
    padding: 45px;
    border-radius: 10px;
}

.help-img img{
    width: 52%;
    padding-top: 50%;
}

.help-bottom h1{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.help-bottom p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 14px;
}

.help-btn {
    font-weight: 600;
    padding: 7px 14px;
    font-size: 15px;
    background-color: #EF233C;
    color: white;
    border: 2px solid #EF233C;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
/* Helping part end */

/* Feature part start */
.feature-heading{
    text-align: center;
    padding-top: 25px;
}

.feature-heading h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.feature-banner {
    display: flex;
    padding: 10px 170px;
}

.main-feature img{
    width: 100%;
}

.side-feature {
    background-color: #305176;
    position: absolute;
    margin-left: 691px;
    margin-top: 14%;
    padding: 37px 29px 61px;
}

.side-feature h3{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color:coral;
}

.side-feature h1{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.news-top {
    display: flex;
    padding: 25px 161px;
}

.news-bottom{
    display: flex;
    padding: 150px 161px 165px;
}

.news-img img{
    width: 100%;
    height: 252px;
}

.news-des {
    background-color: #FEF4F5;
    width: 18%;
    padding: 2px 18px 13px;
    margin-left: 1.7%;
    margin-top: -45px;
    position: absolute;
}

.news-des h3{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color:coral;
}

.news-des h1{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.news-des a{
    color: gray;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.news-one, .news-two, .news-three{
    padding: 9px;
}
/* Feature part end */

/* Extend Part Start */
.extend-part {
    display: flex;
    padding: 0 103px 40px;
}

.gift {
    border: 1px solid #D9D9D9;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px #ccc;
}

.gift-img img {
    width: 100%;
    height: 227px;
    border-radius: 10px 10px 0px 0px;
}

.gift-desc {
    padding: 11px 25px 26px;
}

.gift-desc h2{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.gift-desc p{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.gift-desc a{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #EF233C;
}
/* Extend Part End */

/* Footer start */
footer{
    text-align: center;
    background-color: #0B0D17;
    padding: 2%;
}
footer h2{
    color: #EC233E;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
footer p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
/* Footer End */