body{
    padding: 0;
    margin: 0;
}

/* Heading Part Start */
header {
    background-image: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.9)) ,url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-section {
    padding: 122px 129.5px 137px;
}

.header-section h1{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.header-section p{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5%;
}

.donate-btn {
    font-weight: 600;
    padding: 14px 23px;
    font-size: 18px;
    background-color: #EF233C;
    color: white;
    border: 2px solid #EF233C;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
/* Heading Part End */

/* Banner part start */
.banner-one, .banner-two{
    display: flex;
}
/* Banner part end */